body {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;       
}

.test {
    color: darkgray;
}

.test3 {
    color: #0000ff;
    font-style: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 50px;   
     }

.test4 {
    color:darkred;
}


img {
    size: 200px
}
    
}
.header btn {
        float: right;
}



