body {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
}

.test {
    color: darkgray;
}

.test3 {
    color:darkblue;
    font-style: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
     }

.test4 {
    color:darkred;
}


img {
    size: 200px
}
    
}
.header btn {
        float: right;
}



