<!DOCTYPE html>
<html>
 
<head>
       <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <link rel="stylesheet" type="text/css" href="teenwork.css">
   <script src="teenwork.js"> </script>
</head>

<body class="test3">
 
  <header>
    <h1 class="test3"> T  E  E  N  W  O  R  K </h1>
    <hr> 
    <img class="img" src="images/579.gif" alt= "579.gif">
 </header>

 <%- include navbar %>

 <main>
  <center> <img src="justin-270.jpg"> </img> <center>

     <h1>We have some great information for the Teenwork Employers!</h1>
     
     
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis dui turpis, ut mollis nisi cursus nec. Quisque id                 malesuada arcu. Vivamus eget malesuada enim, eu vestibulum mi. Nunc tristique dapibus auctor. Morbi vel mi vel lacus tincidunt           ullamcorper ultricies quis mi. Suspendisse facilisis suscipit tempor. Etiam consectetur nibh in augue efficitur congue. Aliquam         vehicula congue sollicitudin. In vitae ante libero. In vel turpis et diam bibendum faucibus. Praesent iaculis nec sapien non             convallis. Morbi sed purus scelerisque, ullamcorper diam in, rhoncus nisl. Donec vitae feugiat nunc. Pellentesque at nulla               nulla. Donec faucibus ex ut nibh aliquam tempus.</p>
     
     <h3>Teenwork Employers have also found this useful.</h3> 
     <p>Duis interdum nulla ut magna egestas, vel vehicula diam mollis. Cras eleifend ipsum arcu, et fringilla lacus commodo at. Cras           tempus, nulla ac blandit ultricies, eros lacus faucibus ante, a volutpat augue ligula quis justo. Quisque sed nisi ut elit               viverra luctus sit amet sit amet eros. Proin placerat ultricies sem, vel commodo diam imperdiet sit amet. Sed tellus leo,               pulvinar convallis eros nec, laoreet hendrerit elit. Ut ullamcorper, odio sed viverra dapibus, tortor turpis ultrices mauris, ac         viverra libero est ut neque. Vestibulum lectus tellus, tincidunt vel turpis et, accumsan mattis est. Orci varius natoque                 penatibus et magnis dis parturient montes, nascetur ridiculus mus. Class aptent taciti sociosqu ad litora torquent per conubia           nostra, per inceptos himenaeos.</p>

    <p>Vivamus vitae facilisis nulla. Curabitur sit amet mauris tincidunt, porta neque et, hendrerit enim. Class aptent taciti sociosqu        ad litora torquent per conubia nostra, per inceptos himenaeos. Proin at convallis ante. Mauris ultrices libero non elit                  vulputate, nec commodo odio rhoncus. Quisque convallis, ligula eget posuere convallis, mi sapien vestibulum ex, efficitur                efficitur ex ante nec massa. In rhoncus, nulla id laoreet eleifend, urna odio laoreet est, blandit varius ex nunc quis orci.            Donec sollicitudin a mauris sed eleifend. Sed id euismod elit. Suspendisse potenti.</p>
  
  </main>
 
  <footer>
        <p class="test">Made for CANassist. Teenwork website made in Untangling the Web, Uvic, 2017.</p>
  </footer>

</body>
</html>
     




                
  
