
  <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"></a>
        </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="Teenwork.html">Home</a></li>
                    <li><a href="who.html">Who We Are</a></li>
                    <li><a href="participants.html">See Our Success Stories</a></li>
                    <li><a href="employers.html">Employer Spotlight </a></li>
                    <li> <a href="involved.html"> How We Work </a> </li>
                    <li><a href="Contact page.html">Contact Us</a></li>
                    <li><a href="signin.html">Training Material Login</a></li>
                </ul>
            </div>
  </nav>